
nav {
    h1 {
      margin: 0;
    }
  }

  .logo-image{
    width: 25%;
  }

  .hero {
    min-height: 60vh;
    height: 60vh;
    background: linear-gradient(to top, #000e, #0000, #0000,#0000, #000e), url('../images/jacob-small.jpg') center / cover no-repeat;
    @media only screen and (min-width: 38em) {
      background-image: linear-gradient(to top, #000e, #0000, #0000, #0000, #000e), url('../images/jacob.png');
    }
    @media only screen and (min-width: 60em) {
      background-image: linear-gradient(#39393A, #0000, #0000, #0000, #0000, #0000, #0000), url('../images/jacob.png');
    } 
  }
  .hero2 {
    min-height: 60vh;
    height: 50vh;
    background: linear-gradient(#39393A) center / cover no-repeat;
    @media only screen and (min-width: 38em) {
      background-image: linear-gradient(#39393A);
    }
    @media only screen and (min-width: 60em) {
      background-image: linear-gradient(#39393A, #0000);
    } 
  }

header.hero div>img{
  
  border-radius: 50%;
  width: auto;

  min-height: 10vh;
  max-height: 30vh;

  @media only screen and (min-width: 60em) {
  min-height: 20vh;
  max-height:50vh;
  
  }

  @media only screen and (min-width: 38em) {
    
  }



}

  .col img {
    max-width: 100%;
  }

  .about{
    padding: 3rem 0;
    margin: .5rem 0;
    
    img{
      @media only screen and (max-width: 38em){
      width: 80%;
      margin:0 0 2rem 10%;
    }
    }
  }
  
.card{
  &.small, &.medium, &.large {
    .card-image + .card-content {
      max-height: 50%;
    }
  }
}
  body{
    // background-color: #151513;
    // background: linear-gradient(to top,#151513,#474747);
    
  }
  
  .page-footer {
    li {
      margin-bottom: 1rem;
    }
    a {
      display: inline-block;
    }
  }

  .card, .card-panel {
    margin: 10% 0 0;
  }


  /* label color */
  .input-field label {
    color: #909090 !important;
  }
  /* label focus color */
  .input-field input:focus + label {
    color: #151513 !important;
  }

  /* label underline focus color */
  .input-field input:focus {
    border-bottom: 1px solid #151513 !important;
    box-shadow: 0 1px 0 0 rgb(222, 222, 222);
  }

  /* changing colour for text-area */ 
  .input-field textarea:focus{
    border-bottom: 2px solid #151513 !important;
    box-shadow: 0 1px 0 0 rgb(222, 222, 222);
  }

  .input-field textarea:focus + label{
    color: #151513 !important;
  }

  /* valid color */
  .input-field input[type=text].valid,
  .input-field input[type=tel].valid,
  .input-field input[type=date].valid,
  .input-field input[type=email].valid {
    border-bottom: 1px solid #151513 !important;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid,
  .input-field input[type=tel].invalid,
  .input-field input[type=date].invalid,
  .input-field input[type=email].invalid{
    border-bottom: 1px solid orangered !important;
    color: orangered !important;
    box-shadow: 0 1px 0 0 #000;
  }

  .rounded{
    border-radius: 5px; //or 20% or 1em or 1vw or 2vh, etc
    }
    .rounded2{
      border-radius: 10px;
  
      padding: 20px;
      }
    .profile-picture{
      opacity: .95;
      max-height: 250px;
      padding: 10px;
    }
.opacity{
  opacity: .75;
}

.portfolio-l{
  max-height: 250px;
  max-width: 250px;
}


    .tech-custom{
      padding: 1%;
      margin: 1%;
      height: 100%;
    }

    /* charlotte test */
.top-pad{
  padding-top: 50px;
}
 
.tech-pad {
  margin-right: 2%;
}
.margin-test{
  margin-top: -2%;
}

.margin-test2{
  margin-top: -8%;
}

.margin-test3{
margin-top: 10%;

}




.tiny-l{
max-height:150px;
max-width: 150px;

}